body {
    margin: 0;
}

.board {
    height: 500px;
    width: 500px;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(3, 160px);
    gap: 6px;
}

.sector {
    padding: 0;
    display: flex;
    border: solid black;
    font-size: 7.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.restart_btn {
    height: 50px;
    width: 200px;
    text-transform: uppercase;
}